body {
  background-color: grey;
}
form {
  height: auto;
  margin: 0 30.33%;
  border-radius: 12px;
  background-color: rgb(14, 13, 13);
  border: 2px solid rgb(139, 139, 139);
  box-shadow: 2px 5px 3px rgb(145, 144, 144);
}
form .form-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-left: 10%;
  top: 10%;
  margin-bottom: 50px;
  overflow: hidden;
}
form p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: grey;
  margin-left:10%;
  padding: 0;
}
input {
  height:1.5rem;
  width: 75%;
  border: 2px solid rgb(185, 185, 185);
  border-radius: 4px;
}
.profile-picture {
  margin-left:2rem;
  height: 13rem;
  width: 13rem;
}
label {
  margin-top: 2 rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(211, 210, 210);
  font-weight: bold;
}
.submit {
  height: 2.5rem;
  width:15rem;
  background-color: rgb(58, 156, 58);
  font-size:25px;
  font-weight: bold;
}
